* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

* a {
  text-decoration: none;
  color: white;
}
.App {
  height: 100vh;
  width: 100vw;
}

.appBodyContainer {
  height: 100%;
  width: 100%;
}

.app-routes {
  height: 100%;
  width: 100%;
  display: grid;
}
